<h1>Nouvelle demande d'évaluation HPI/HPE/HPC</h1>

<p>Nom : {{ user.nom }}</p>
<p>Prénom : {{ user.prenom }}</p>
<p>Type de Haut Potentiel : {{ type_hpi }}</p>
<p>Niveau d'autonomie : {{ autonomy_level }}</p>