<h1>Veuillez confirmer votre adresse e-mail.</h1>

<p>
	J'espère que vous allez bien ! Je me permets de vous contacter concernant la confirmation de votre adresse e-mail.
			
			Pour finaliser votre inscription et bénéficier pleinement de nos services, nous vous prions de bien vouloir confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :
	<br><br>
	<a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
						   Ce lien sera valide pendant une durée
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
			   Veuillez noter que votre inscription ne sera pas complète tant que vous n'aurez pas confirmé votre adresse e-mail.
</p>

<p>
	Si vous avez des questions ou des préoccupations, n'hésitez pas à me contacter en cliquant ici :
	<a href="mailto:wbelbeche.s@gmail.com">Contacter-moi</a>
</p>

<p>
	Santé !
</p>


<strong>Note : Ceci est un e-mail automatisé. Veuillez ne pas y répondre directement.</strong>
