{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary mb-5">Mes Rendez-vous</h1>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="list-group">
                {% for rendezVous in rendezVousList %}
                    <div class="list-group-item">
                        <h5 class="mb-1">{{ rendezVous.professionnel.nom }} {{ rendezVous.professionnel.prenom }}</h5>
                        <p class="mb-1">{{ rendezVous.date|date('d/m/Y H:i') }}</p>
                    </div>
                {% else %}
                    <p class="text-muted text-center">Vous n'avez aucun rendez-vous pour le moment.</p>
                {% endfor %}
            </div>

            <div class="text-center mt-4">
                <a href="{{ path('rendezvous_new') }}" class="btn btn-primary">Réserver un nouveau rendez-vous</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
